<h1 id="gpsあれこれ">GPSあれこれ</h1>
<h2 id="gpsログを吸い出し変換">GPSログを吸い出し，変換</h2>
<ul>
<li><a href="https://www.gpsbabel.org/">GPSBabel: convert, upload, download data from GPS and Map programs</a></li>
<li><a href="http://wiki.openstreetmap.org/wiki/JA:GPSBabel">JA:GPSBabel - OpenStreetMap Wiki</a></li>
</ul>
<p>その名の通りGPSロガーからデータを出し入れしたり，独自形式やフォーマット違いのログを変換したり いろいろな形式に対応していてとても便利!</p>
<h3 id="garmin-oregon-300-のデータ吸い出し例">Garmin Oregon 300 のデータ吸い出し例</h3>
<pre><code>$ gpsbabel -i garmin -f usb: -o gpx -F waypoint.gpx</code></pre>
<p>現在のログをリアルタイム読み出し</p>
<pre><code>$ lsusb -d 091e:0003
Bus 004 Device 003: ID 091e:0003 Garmin International GPS (various models)
$ sudo modprobe -r garmin_gps
$ sudo gpsbabel -T -i garmin -f usb: -o nmea -F -
$GPRMC,093420.000,A,3115.174,N,13051.066,E,0.22,155.97,120616,,*00
$GPGGA,093420.000,3115.174,N,13051.066,E,1,00,0.0,224.699,M,0.0,M,,*60
$GPVTG,155.969,T,0,M,0.225,N,0.416,K*51
$GPGSA,A,3,,,,,,,,,,,,,0.0,0.0,0.0*32
$GPRMC,093421.000,A,3115.174,N,13051.066,E,0.41,161.74,120616,,*0E
$GPGGA,093421.000,3115.174,N,13051.066,E,1,00,0.0,224.699,M,0.0,M,,*61
$GPVTG,161.741,T,0,M,0.407,N,0.754,K*51
$GPGSA,A,3,,,,,,,,,,,,,0.0,0.0,0.0*32
  :</code></pre>
<p>※GPSロガーからの吸い出しは以前は独自アプリが必要なことが多かったが最近はUSBマスストレージ対応が増えて便利になっている．</p>
<h3 id="kml-形式をgpx形式に変換">KML 形式をGPX形式に変換</h3>
<pre><code>$ gpsbabel -i kml -f infile.kml -o gpx -F out.gpx</code></pre>
<h2 id="gpsログの閲覧編集">GPSログの閲覧，編集</h2>
<h3 id="テキストエディタ等">テキストエディタ等</h3>
<p>ちょこちょこ編集するのには案外使える (家の周りだけ除くとか)</p>
<h3 id="gpsprune">GPSPrune</h3>
<ul>
<li><a href="http://activityworkshop.net/software/gpsprune/index.html">Activity Workshop - GpsPrune</a>　（こないだ落ちてた&gt;&lt;)</li>
</ul>
<p>地図上にプロットして切り貼り出来る ベースマップの追加も可能(鹿児島市オープンデータのタイル化したものなど) 写真やオーディオファイルのプロットも可能</p>
<p><img src="image/gpsprune01.jpg" /> <img src="image/gpsprune02.jpg" /> <img src="image/gpsprune03.jpg" /></p>
<h3 id="viking">Viking</h3>
<ul>
<li><a href="https://sourceforge.net/p/viking/wikiallura/Main_Page/">Viking GPS data editor and analyzer / Main Wiki / Main_Page</a></li>
</ul>
<p>むかーし使っていたけど最近触っていない……． GPSを繋いでカーナビなどにも 現在バックエンド(MapQuest)が利用できなくなっている ＃Gnome MapsみたいでMapboxで復活とかないかな……</p>
<!--
### gnome-maps

OSMへPOIの登録も出来る
[Apps/Maps - GNOME Wiki!](https://wiki.gnome.org/Apps/Maps "Apps/Maps - GNOME Wiki!")
[GNOME Maps Is Back On Track Thanks to Mapbox - OMG! Ubuntu!](http://www.omgubuntu.co.uk/2016/07/gnome-maps-new-tile-service "GNOME Maps Is Back On Track Thanks to Mapbox - OMG! Ubuntu!")
-->
<h2 id="ルートやポイントなどを書いて地図を利用する">ルートやポイントなどを書いて地図を利用する</h2>
<h3 id="geojson.io">geojson.io</h3>
<p><a href="http://geojson.io/">geojson.io</a> <img src="image/geojson.jpg" /></p>
<ul>
<li>ブラウザの地図上で編集して各種形式に書き出したり各種サービスにエクスポートしたり出来る</li>
<li>ここでちょこちょこ書いて他にインポートとか便利</li>
</ul>
<h3 id="umap">uMap</h3>
<p><a href="https://umap.openstreetmap.fr/ja/">uMap</a> <img src="image/umap.jpg" /></p>
<ul>
<li>ブラウザの地図上で編集して各種形式に書き出したり共有したり出来る</li>
</ul>
<h3 id="leaflet.js">Leaflet.js</h3>
<p><a href="http://leafletjs.com/" title="Leaflet - a JavaScript library for interactive maps">Leaflet - a JavaScript library for interactive maps</a> <img src="image/leaflet.jpg" /></p>
<p>オープンソースの地図ライブラリ</p>
<h3 id="ルートラボ">ルートラボ</h3>
<p><a href="http://latlonglab.yahoo.co.jp/route/">ルートラボ - LatLongLab</a> <img src="image/routelab.jpg" /></p>
<ul>
<li>ログをアップロードして編集したり，ルートを手書きできる</li>
<li>手書き時には自動的に道路にフィットさせることができるので大雑把にルートの情報を調べるのに便利</li>
<li>要Microsoft Silverlightだったが，現在β版だがJavaScript版が利用できるようになっている</li>
<li><p>Silverlight版はPipeLightで動作ok</p></li>
<li><a href="http://www.slideshare.net/matoken/pipelight-silverlight-raspberrypi-3/11">Pipelight でSilverlightを / RaspberryPi でリアルタイム動画配信をその3</a></li>
<li><p><a href="http://matoken.org/blog/blog/2016/02/02/watch-the-silverlight-video-on-debian-stretch-environment/">Debian stretch環境でSilverlight動画を視聴 | matoken's meme</a></p></li>
</ul>
<h3 id="その他">その他……</h3>
<p><a href="http://wiki.openstreetmap.org/wiki/Track_drawing_websites">Track drawing websites - OpenStreetMap Wiki</a></p>
<ul>
<li>たくさん未検証</li>
</ul>
<h2 id="ログのアップロード共有">ログのアップロード&amp;共有</h2>
<h3 id="gist">Gist</h3>
<p>GeoJSON 形式をUploadするとOSM上にプロットされて便利 * <a href="https://github.com/blog/1576-gist-meets-geojson">Gist meets GeoJSON · GitHub</a> * <a href="https://gist.github.com/matoken/b2303269a7825b503248">佐多岬ポータルマップ.geojson · GitHub</a></p>
<div class="figure">
<img src="image/gist.png" />

</div>
<h3 id="strava">Strava</h3>
<p><a href="https://www.strava.com/">Strava | アスリートのためのソーシャルネットワークでランニングやサイクリングを記録</a></p>
<div class="figure">
<img src="image/strava.jpg" />

</div>
<ul>
<li>トレーニング向け</li>
<li>前もって身体情報などを登録しておいて運動した時のログをアップロードすると推定パワーや消費カロリーなどが確認できる</li>
<li>みんなで同じ場所をタイムアタックすることも</li>
<li>最近Instagram連携がついてコース上にInstagram投稿がプロットできるようになったようだが未検証</li>
</ul>
<h2 id="時計合わせに使う">時計合わせに使う</h2>
<ul>
<li>ntpdの設定することでStratum-1が作れる</li>
<li>GPSを１つ補足するだけでOK</li>
<li>ネットワークも電波時計も使えない場合なんかにも便利</li>
</ul>
<h2 id="wardriving">WarDriving</h2>
<h3 id="kismetでwardriving">Kismetでwardriving</h3>
<ul>
<li>KismetはWi-Fi AP情報を収集できる</li>
<li>KismetにGPSの設定を行いスキャンするか，スキャン後GPS情報をマージすることでWarDrivingできる</li>
<li>2.4MHz/5GHz帯両対応のアダプタを使うといい感じ</li>
<li><p>取得した情報はWiGLEなどにUploadして共有できる <a href="https://wigle.net/">WiGLE: Wireless Network Mapping</a></p></li>
<li><p>コミケなんかでは色々と面白いSSIDが補足できて楽しい https://plus.google.com/u/0/+KenichiroMATOHARA/posts/ZkHduTH8vy5</p></li>
</ul>
<h2 id="写真のジオデータ編集">写真のジオデータ編集</h2>
<h3 id="exiv2-gpscorrelate-gui">exiv2 &amp; gpscorrelate(-gui)</h3>
<ul>
<li>exiv2 : 時間修正(GPSの時間に合わせる)</li>
<li>gpscorrelate : GPSトラックログから写真のジオタグを設定</li>
</ul>
<h3 id="exiftool">exiftool</h3>
<h3 id="josm">JOSM</h3>
<h3 id="kasimir-3dwindows向けwineで動作">kasimir 3D(Windows向けWineで動作)</h3>
<h3 id="轍windows向けwineで動作">轍(Windows向けWineで動作)</h3>
<h2 id="動画からストリーてビューを作る">動画からストリーてビューを作る</h2>
<h3 id="mapillary">Mapillary</h3>
<ul>
<li><a href="https://www.mapillary.com/">Mapillary - Crowdsourced Street Photos</a></li>
<li><a href="https://github.com/mapillary/mapillary_tools">GitHub - mapillary/mapillary_tools: Useful tools and scripts related to Mapillary</a></li>
<li><a href="http://wiki.openstreetmap.org/wiki/JA:Mapillary">JA:Mapillary - OpenStreetMap Wiki</a></li>
</ul>
<p>Google Street Viewが来ない?羊はいるぞ!</p>
<ul>
<li><a href="http://blog.mapillary.com/tutorials/2016/08/30/photo-mapping-the-faroe-islands.html">Photo Mapping the Faroe Islands (Sheep not Included)</a></li>
</ul>
<h4 id="mapillary-toolsを使う">Mapillary Toolsを使う</h4>
<pre><code>$ sudo apt install git python-pyexiv2 python-pip python-dev
$ git clone https://github.com/mapillary/mapillary_tools.git
$ sudo pip install -r mapillary_tools/python/requirements.txt
$ mkdir mapillary
$ cd mapillary
$ mkdir bin duplicate mapillary
$ vi bin/mapillary.sh
$ cat bin/mapillary.sh
export MAPILLARY_EMAIL=&quot;matoken@gmail.com&quot;
export MAPILLARY_PASSWORD=&quot;xxxxxxxxxxxxxxxx&quot;
export MAPILLARY_USERNAME=&quot;matoken&quot;
# https://legacy.mapillary.com/map/upload/im
export MAPILLARY_PERMISSION_HASH=&quot;xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&quot;
export MAPILLARY_SIGNATURE_HASH=&quot;xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&quot;
$ source bin/mapillary.sh
$ cd mapillary</code></pre>
<h5 id="mapillary-tools-の前に動画から静止画を作成1枚秒">Mapillary Tools の前に動画から静止画を作成(1枚/秒)</h5>
<ul>
<li>結構時間掛かる……．</li>
</ul>
<pre><code>$ ls -trA1 ~/ビデオ/DCIM/100GOPRO/*.MP4 | xargs -I{} ffmpeg -i {} -ss 0 -r 1 -f image2 {}_%06d.jpg</code></pre>
<ul>
<li>出来上がった静止画にはexif情報がない．タイムスタンプも作られたときのものなので使えない．</li>
</ul>
<pre><code>$ ls -l GOPR0604.MP4_000001.jpg
-rw-rw-r-- 1 mk mk 155300  9月 16 23:13 GOPR0604.MP4_000001.jpg
$ exif GOPR0604.MP4_000001.jpg
壊れたデータ
与えられたデータが規格に合っていません。
ExifLoader: The data supplied does not seem to contain EXIF data.</code></pre>
<ul>
<li>時間を付与する</li>
</ul>
<p>exif tag色々ある．</p>
<pre><code>DateTime : localtime
DateTimeOriginal : localtime
DateTimeDigitized : localtime
GPSDateStamp : UTC
GPSTimeStamp : UTC</code></pre>
<p>どうカメラで静止画を撮影してみる． とりあえずDateTime* を同じ時間で?</p>
<pre><code>$ exifgrep -i time GOPR0598.JPG
JPEG.APP1.Ifd0.DateTime = &#39;2016:09:02 12:42:23&#39;
JPEG.APP1.Ifd0.Exif.ExposureTime = 0.00135888 sec
JPEG.APP1.Ifd0.Exif.DateTimeOriginal = &#39;2016:09:02 12:42:23&#39;
JPEG.APP1.Ifd0.Exif.DateTimeDigitized = &#39;2016:09:02 12:42:23&#39;</code></pre>
<p>ついでにこのあたりも?</p>
<pre><code>Copyright : matoken
LocationName : Kagoshima, Japan
JPEG.APP1.Ifd0.Make = &#39;GoPro&#39;
JPEG.APP1.Ifd0.Model = &#39;YHDC5170&#39;
</code></pre>
<p>動画の最初か最後あたりで正確な時間を記録しておく(カチンコみたいな役割)</p>
<div class="figure">
<img src="image/video-time.png" />

</div>
<ul>
<li><p>タイムスタンプが使えるなら正確な時間とファイルの時間の差を撮とって一括で変換できるが，今回はその手は使えないので1秒ごとにインクリメントしてみる</p></li>
<li>正確な時間 -&gt; 07:57:20</li>
<li>先頭ファイルタイムスタンプ -&gt; 17:56:48</li>
<li><p>オフセット -&gt; -35968(秒)</p></li>
</ul>
<pre><code>$ ls -l /media/mk/DEFB-8FF4/DCIM/100GOPRO/GOPR0592.MP4
-rw-r--r-- 1 mk mk 3935058539  9月  2 17:56 /media/mk/DEFB-8FF4/DCIM/100GOPRO/GOPR0592.MP4
$ ls --full-time /media/mk/DEFB-8FF4/DCIM/100GOPRO/GOPR0592.MP4
-rw-r--r-- 1 mk mk 3935058539 2016-09-02 17:56:48.000000000 +0900 /media/mk/DEFB-8FF4/DCIM/100GOPRO/GOPR0592.MP4
$ echo $(( `date +%s -d 2016-09-02T07:57:20` - `date +%s -d 2016-09-02T17:56:48` ))
-35968</code></pre>
<ul>
<li>編集したいファイル : GOPR0601.MP4</li>
<li>ファイルのタイムスタンプ : 2016-09-02 22:21:08</li>
<li>オフセット反映時間 : 2016-09-02T12:21:40</li>
</ul>
<pre><code>$ ls --full-time GOPR0601.MP4 GOPR0601.MP4_000001.jpg
-rw-r--r-- 1 mk mk 1828440352 2016-09-02 22:21:08.000000000 +0900 GOPR0601.MP4
-rw-rw-r-- 1 mk mk     141325 2016-09-16 21:22:53.079438695 +0900 GOPR0601.MP4_000001.jpg
$ echo $(( `date +%s -d 2016-09-02T22:21:08` -35968 ))
1472786500
$ LANG=C date +%FT%T --date @1472786500
2016-09-02T12:21:40</code></pre>
<ul>
<li>exif コマンドで書き込むにはタグが必要．なようなのでタグを調べる</li>
</ul>
<pre><code>$ LC_ALL=C exif -cl GOPR0598.JPG|grep -i time
0x0007 GPS Time (Atomic Clock)                 -      -      -      -      -   
0x0132 Date and Time                           *      -      -      -      -   
0x829a Exposure Time                           -      -      *      -      -   
0x882a Time Zone Offset                        -      -      -      -      -   
0x9003 Date and Time (Original)                -      -      *      -      -   
0x9004 Date and Time (Digitized)               -      -      *      -      -   
0x9290 Sub-second Time                         -      -      -      -      -   
0x9291 Sub-second Time (Original)              -      -      -      -      -   
0x9292 Sub-second Time (Digitized)             -      -      -      -      -   
$ LC_ALL=C exif -cl GOPR0598.JPG|grep -i Copyright
0x8298 Copyright                               -      -      -      -      -   
$ LC_ALL=C exif -cl GOPR0598.JPG|grep -i make
0x927c Maker Note                              -      -      -      -      -   
$ LC_ALL=C exif -cl GOPR0598.JPG|grep -i Model
0x0110 Model                                   *      -      -      -      -   </code></pre>
<pre><code>DateTime : 0x0132
DateTimeOriginal : 0x9003
DateTimeDigitized : 0x9004
Copyright : 0x8298
Make : 0x927c
Model : 0x927c</code></pre>
<ul>
<li>とりあえず一枚テスト ……</li>
</ul>
<p>うまく行かないのでexiftoolに逃げる</p>
<pre><code>$ exiftool -AllDates=&quot;2016:09:02-12:21:40&quot; GOPR0601.MP4_000001.jpg
    1 image files updated
$ exif -c GOPR0601.MP4_000001.jpg
EXIF tags in &#39;GOPR0601.MP4_000001.jpg&#39; (&#39;モトローラ&#39; byte order):
--------------------+----------------------------------------------------------
Tag                 |Value
--------------------+----------------------------------------------------------
X 解像度               | 1
Y 解像度               | 1
解像度の単位              |内部エラー (不明な値 1)
日時                  |2016:09:02 12:21:40
YCbCrの色情報のサンプル地点    |中央
EXIF バージョン          |EXIF バージョン 2.3
日時 (オリジナル)          |2016:09:02 12:21:40
Date and Time (Digit|2016:09:02 12:21:40
コンポーネント設定           |Y Cb Cr -
FlashPixVersion     |FlashPix バージョン 1.0
色空間                 |内部エラー (不明な値 65535)
--------------------+----------------------------------------------------------</code></pre>
<ul>
<li><p>一括変換</p></li>
<li><p>2016-09-02 12:21:40 から1秒毎にカウントして設定</p></li>
</ul>
<pre><code>$ ls -tr1 GOPR0601.MP4_??????.jpg &gt; list
$ vi list
$ head list
$TIME=1472786500;
while($FILE=&lt;DATA&gt;){
  chomp $FILE;
  $DATE_TIME=`date +%F-%T @$TIME`;
  chomp $DATE_TIME;
  print &quot;exiftool -AllDates=\&quot;$DATE_TIME\&quot; $FILE\n&quot;;
  print `exiftool -AllDates=&quot;$DATE_TIME&quot; $FILE`;
  $TIME+=1;
}
__DATA__
$ perl list
exiftool -AllDates=&quot;2016-09-17-01:40:57&quot; GOPR0601.MP4_000001.jpg
    1 image files updated
exiftool -AllDates=&quot;2016-09-17-01:40:57&quot; GOPR0601.MP4_000002.jpg
    1 image files updated
exiftool -AllDates=&quot;2016-09-17-01:40:58&quot; GOPR0601.MP4_000003.jpg
    1 image files updated
  :</code></pre>
<p>手動で頭などの要らないデータ削除</p>
<p>ここからやっとMapillary Tools利用</p>
<ul>
<li>ジオタグ埋め込み</li>
</ul>
<pre><code>python ~/src/mapillary_tools/python/geotag_from_gpx.py ~/mapillary/ ~/mapillary/2016-04-09_150103.gpx</code></pre>
<ul>
<li><p>ここで抜き出しで地図上にプロットして確認してみる(JOSMにD&amp;Dとか)</p></li>
<li><p>重複ファイル除去</p></li>
</ul>
<pre><code>python ~/src/mapillary_tools/python/remove_duplicates.py ~/mapillary/108GOPRO/ ~/duplicate/</code></pre>
<ul>
<li>プリプロセスとアップロード</li>
</ul>
<pre><code>python ~/src/mapillary_tools/python/upload_with_preprocessing.py ~/mapillary/</code></pre>
<p>うん．すっごい面倒．<br />
GPS内蔵機器で動画ではなくタイムラプス撮影だと少し楽そう</p>
<ul>
<li><p>もしくは動画とGPSログのアップロード機能もあるので動画にexifを付与すればお手軽?(昨夜時計合わせしたのに時間がおかしい……)</p>
<pre><code>$ ls --full-time /media/mk/52B4-46FB/DCIM/100GOPRO/
合計 14650288
-rw-r--r-- 1 mk mk 3935007452 2016-09-17 17:38:36.000000000 +0900 GOPR0609.MP4
-rw-r--r-- 1 mk mk   11793724 2016-09-17 18:00:44.000000000 +0900 GOPR0610.MP4
-rw-r--r-- 1 mk mk   11849042 2016-09-17 20:19:34.000000000 +0900 GOPR0611.MP4
-rw-r--r-- 1 mk mk  816393202 2016-09-17 20:27:08.000000000 +0900 GOPR0612.MP4
$ exif /media/mk/52B4-46FB/DCIM/100GOPRO/GOPR0609.MP4
&#39;/media/mk/52B4-46FB/DCIM/100GOPRO/GOPR0609.MP4&#39; is not readable or does not contain EXIF data!</code></pre></li>
<li>現実的なところではスマホアプリを使うと全部自動化されるのでおすすめ．<br />
</li>
<li><p>広角レンズアダプタがあると良いかも? (アップロード時にスマホから写真は消えてしまうのでバックアップを取ったほうが良いかもしれない)</p></li>
<li><p>ちなみにGoogleのようにぼかしを入れる処理などもしてくれる</p></li>
</ul>
<h3 id="open-street-view">Open Street View</h3>
<ul>
<li>少し試した感じではまだまだ感</li>
<li>Mapillary と両方にアップロード??</li>
</ul>
